.env
.credentials
.DS_Store
Model/__pycache__/
Model/.ipynb_checkpoints/
.idea/
*.csv
*.h5
*.pkl
*.parquet
/Figures/*
/data/*
*.pyc
*.tif
*.tif.xml
*.tif.aux.xml
*.zip
*.ipynb_checkpoints/
*.nfs*
*.nc
*.zarr
*.geotiff
*.png
*sandbox.ipynb
